 .open-sans-normal {
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-variation-settings:
         "wdth" 100;
 }

 .heading {
     font-weight: 800;
     font-size: 45px;

 }



 /* shared style colour */




 .same-bg {
     background-color: #FFF8F3;
 }

 .bolding {
     font-size: 35px;
     font-weight: bold;
     color: #181818;

 }

 .p-size {
     font-size: 18px;
     color: #757575;
 }



 .shared {
     color: #FD6E0A;
 }

 .dark-2 {

     color: #474747;
 }

 .btn {

     background-color: #FD6E0A;
     font-size: 20px;
     font-weight: bold;
     color: white;
     border: none;
     padding: 18px 35px;
     border-radius: 5px;

 }

 .btn-2{

    background-color: white ;
     font-size: 20px;
     font-weight: bold;
     color: #FD6E0A ;
     padding: 18px 35px;
     border-radius: 5px;
     /* border-color:2px solid #FD6E0A; */
     stroke: #FD6E0A;
     padding-left: 30px ;

 }

 /* main style  */
 main {
     max-width: 1140px;
     margin: 0 auto;

 }


 /* about style  */
 .About {
     border-radius: 10px;
     padding: 130px 150px;
     text-align: center;
     margin-top: 130px;
 }

 .about-items {
     display: flex;
     justify-content: space-around;

 }

 .item-description {
     font-weight: bold;
 }

 /* skills part style  */

 .h-skills {
     text-align: center;
     padding-bottom: 30px;
    
 }

 .p-skills {
     text-align: center;
 }

 .skills-text {

     font-size: 16px;
     color: #757575;
 }

 .skills-title {
     color: rgba(24, 24, 24, 1);
     font-size: 20px;
     font-weight: bold;
     padding-top: 30px;
 }

 /* header  */

 .banner-content {
     height: 69vh;
     background-image: url("../images/developer.png");
     background-repeat: no-repeat;
     background-position: left top;
     background-size: contain, cover;
     background-position: left;





 }

 .banner{
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
 }


 /* .banner {

     background-image: url("../images/header_bg.png") 
     background-repeat: no-repeat;
     background-position: right bottom;

 } */


 /* banner style  */




 .banner {
     display: flex;
     justify-content: space-around;
     margin: 0 40px 0 210px;
 }

 .imgs {
     width: 580px;
 }

 .banner-box {

     max-width: 590px;
 }

 .fonts {
     font-weight: 600;
     font-size: 45px;
 }

 .bold {
     font-weight: bold;
     font-size: 85px;
 }

 .display {
     color: #4f4f4f;
 }




 /* nav style  */
 nav {
     display: flex;

     align-items: center;
     justify-content: space-between;
     margin: 0px 200px;

 }

 nav>ul {


     display: flex;
     align-items: center;


 }


 nav ul li {

     list-style: none;
 }

 nav li a {
     margin-right: 55px;
     text-decoration: none;
 }

 /* skills containt style  */

 .skills-container {
     display: flex;
     gap: 24px;
     padding-top: 50px;
     padding-bottom: 130px;
    

 }

 

 .simple-box {
 max-width: 267px;
 max-height: 277px;
     padding-top: 100px;
     padding-left: 30px;
     padding-bottom: 30px;
     padding-right: 30px;
     box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.167);
     border-radius: 5px;
 }

 .skills{
    padding-top: 130px;
 }


 /* resume style section  */

 .resume-container{

    display: flex;
    gap: 28px ;
    padding-bottom: 50px;
    
 }

 .center{
    text-align: center;
    padding-top: 130px ;
 padding-bottom: 113px;
}

.info-title{
font-weight: 700;
font-size: 30px;
color: rgba(71, 71, 71, 1) ;
padding-bottom: 33px;

}

.info-subtitle{
    font-weight: 700;
    font-size: 25px;
    color: rgba(71, 71, 71, 1) ;
}

.main-info{
    font-weight: 600;
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
}

.my-details{

    font-size: 16px;
    color: #757575;
}
.information hr {

    color: rgba(209, 209, 209, 1);
    
}

/* .btn-last{
    background-color: #FD6E0A;
     font-size: 20px;
     font-weight: bold;
     color: white;
     border: none;
     padding: 18px 35px;
     border-radius: 5px;
     max-width: 200px ;
     max-height: 64px ;
     text-align: center;
     justify-content: center;

} */

.btn-center{
  text-align: center;
  padding-bottom: 113px;
}


/* footer section style  */
footer{
    display: flex;
    gap: 117px;
padding: 130px 230px;

}

.intro-icon{
    
    width: 120px;
    height: 24px;
    
}

.intro-icon a img {
  /* padding-right: 24px; */
    margin-right: 10px;
}

.intro{
    padding-bottom: 20px;
}
.intro-title {
    padding-bottom: 28px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea {
    height: 64px;
    width: 460px;
    border-radius: 5px ;
    background-color: white;
    font-size: 18px ;
    color:rgba(117, 117, 117, 1);
    margin-bottom: 24px;
   padding-left: 30px;


}



